<% include ./partials/header %>

		<div class="ui container left aligned" id="content">

			<% posts.forEach(function (post) { %>
				<hr />
				<h2> <%= post.title %> </h2>
				<p><img src="<%= post.image %>" /></p>
				<p><span> <%= post.created.toUTCString() %> </span></p>
				<p> <%- post.content.substring(0, 400) %> </p>
				<a href="/posts/<%= post._id %>">Read More</a>
			<% }); %>

			
		</div> <!-- container --> 

<% include ./partials/footer %>