<% include ./partials/header %>

		<div class="ui main text container segment" id="content">

			<div class="ui right aligned grid">
				<div class="sixteen wide column">
    				<div class="ui segment">    					
      					<a href="/posts/<%= post._id %>/edit"> 
							Edit this post
							<i class="write square icon emother"></i>		
						</a>
      				</div>
				</div>
			</div>


			<div class="ui large header">
				<%= post.title %>
			</div>
			<hr />
			
				<p><img src="<%= post.image %>" /></p>
				<p><span> <%= post.created.toUTCString() %> </span></p>
				<p> <%- post.content %> </p>
			
		</div> <!-- container --> 

<% include ./partials/footer %>